@{
    ViewBag.Title = "Cart";
}

@section Scripts{
    <script type="text/javascript" src="~/Scripts/app/customer/customerCart.controller.js"></script>
    <script>
        let selectedMovies = [];
        let selectedMovieIds = [];
        let total = 0;

        function checkoutMovies() {
            $.ajax({
                url: '/Customer/Checkout',
                type: 'post',
                data: {
                    selectedMovieIds: selectedMovieIds
                },
                success: function (data) {
                    window.location.replace('/Customer/Checkout/'+data.OrderId);
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }
    </script>
}

<div ng-controller="customerCartCtrl" class="p-5 bg-secondary" style="min-height: 561px;">
    <h2 class="mb-4 ps-3">Cart</h2>

    <div class="card">
        <div class="card-header">
            <h4>Summary</h4>
        </div>
        <div class="card-body">
            <div ng-repeat="cart in carts " class="mb-3">
                <h6 ng-if="(carts[$index].Movie.Seller.SellerId != carts[$index-1].Movie.Seller.SellerId) || $first" class="border rounded bg-secondary mx-3 p-2">
                    {{cart.Movie.Seller.Fname}} {{cart.Movie.Seller.Lname}}
                </h6>
                <div ng-if="carts[$index].Movie.Id != carts[$index-1].Movie.Id || $first" class="d-flex">
                    <input ng-model="isSelectedMovie" ng-change="checkMovie(cart.Movie.Id, cart.Movie.MovieTitle, cart.Movie.Price, cart.Movie.Quantity, isSelectedMovie)" type="checkbox" />
                    <div class="card flex-grow-1 m-3">
                        <div class="card-header">
                            {{cart.Movie.MovieTitle}}
                        </div>
                        <div class="card-body">
                            <div class="d-flex flex-column flex-sm-row justify-content-between">
                                <img ng-src="{{cart.Movie.ImageUrl}}" width="200" />
                                <div class="d-flex flex-column justify-content-between">
                                    <div class="d-flex">
                                        <p class="card-text me-3">RM {{cart.Movie.Price}}</p>
                                        <p class="card-text">x {{cart.Movie.Quantity}}</p>
                                    </div>
                                    <div class="d-flex">
                                        <button class="btn btn-success btn-sm rounded-circle me-3" ng-click="increaseQuantity(cart.Movie.Id)" type="button">
                                            <i class="fa-solid fa-cart-plus fa-lg" style="color: #ffffff;"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm rounded-circle me-3" ng-click="decreaseQuantity(cart.Movie.Id)" type="button">
                                            <i class="fa-solid fa-cart-arrow-down fa-lg" style="color: #ffffff;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-4 p-3">
                <div class="d-flex flex-column align-items-end">
                    <div class="d-flex flex-column mb-3">
                        <h5 class="me-5">Voucher</h5>
                        <input class = "form-control text-secondary" type="text" placeholder="#LETSWATCH" ng-disabled="true"/>
                        <div class="small">
                            Limited time promo code <span class="text-primary">#LETSWATCH</span>,<br />Enjoy all movie for FREE
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <h5 class="me-5">Total(RM)</h5>
                            <p>{{total | number : 2}}</p>
                        </div>
                    </div>
                    <div>
                        <a href="/Customer" class="btn btn-success me-2">
                            Wait, add more items
                            <i class="fa-solid fa-basket-shopping" style="color: #ffffff;"></i>
                        </a>
                        <button type="submit" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#confirmCheckoutModal">
                            Checkout
                            <i class="fa-solid fa-basket-shopping" style="color: #ffffff;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmCheckoutModal" tabindex="-1" aria-labelledby="confirmCheckoutModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmCheckoutModal">Confirm your action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to checkout following items?</p>
                    <ul>
                        <li ng-repeat="selectedMovie in selectedMovies">
                            <div class="d-flex justify-content-between">
                                <p>{{selectedMovie.movieTitle}}</p>
                                <p class="me-4">x {{selectedMovie.quantity}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-warning" onclick="checkoutMovies()">Yes, proceed with checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
