@{
    ViewBag.Title = "Movie Details";
}

@section Scripts{
    <script type="text/javascript" src="~/Scripts/app/customer/customerMovieDetail.controller.js"></script>
}

<div ng-app="app" ng-controller="customerMovieDetailCtrl as cc" class="p-5">
    <div>
        <h2>Movie Details{{id}}</h2>
        <div class="card shadow rounded-4 dl-horizontal mt-4 p-5">
            <img src="{{ cc.movie.ImageUrl }}" style="width: fit-content" />
            <div class="mt-4 mb-3">
                <h5 class="m-0">Genre</h5>
                <span ng-repeat="genreType in cc.movie.GenreTypes">
                    {{ genreType }}
                    <span ng-if="!$last">,</span>
                </span>
            </div>
            <div class="mb-3">
                <h5 class="m-0">Title</h5>
                <div>{{ cc.movie.MovieTitle }}</div>
            </div>

            <div class="mb-3">
                <h5 class="m-0">Description</h5>
                <div>{{ cc.movie.Description }}</div>
            </div>

            <div class="mb-3">
                <h5 class="m-0">Price</h5>
                <div>RM {{ cc.movie.Price }}</div>
            </div>

            <div class="mb-3">
                <h5 class="m-0">Released Year</h5>
                <div>{{ cc.movie.ReleasedYear }}</div>
            </div>

            <div>
                <h5 class="m-0">Seller</h5>
                <div>{{ cc.movie.Seller.Fname }} {{ cc.movie.Seller.Lname }}</div>
            </div>
        </div>
        <div class="mt-4">
            <a href="/Customer" class="btn btn-secondary me-1">Back to Mainpage</a>
            <button class="btn btn-success">
                Add to Cart
                <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
            </button>
        </div>
    </div>
</div>
