@{
    ViewBag.Title = "Movie Details";
}

@section Scripts{
    @Scripts.Render("~/bundles/customerMovieDetail")
}

<div ng-controller="customerMovieDetailCtrl" class="p-5">
    <div>
        <h2>Movie Details{{id}}</h2>
        <div class="card shadow rounded-4 dl-horizontal mt-4 p-5">
            <img ng-src="{{ movie.ImageUrl }}" style="width: fit-content" />
            <div class="mt-4 mb-3">
                <h5 class="m-0">Genre</h5>
                <span ng-repeat="genreType in movie.GenreTypes">
                    {{ genreType }}
                    <span ng-if="!$last">,</span>
                </span>
            </div>
            <div class="mb-3">
                <h5 class="m-0">Title</h5>
                <div>{{ movie.MovieTitle }}</div>
            </div>

            <div class="mb-3">
                <h5 class="m-0">Description</h5>
                <div>{{ movie.Description }}</div>
            </div>

            <div class="mb-3">
                <h5 class="m-0">Price</h5>
                <div>RM {{ movie.Price }}</div>
            </div>

            <div class="mb-3">
                <h5 class="m-0">Released Year</h5>
                <div>{{ movie.ReleasedYear }}</div>
            </div>

            <div>
                <h5 class="m-0">Seller</h5>
                <div>{{ movie.Seller.Fname }} {{ movie.Seller.Lname }}</div>
            </div>
        </div>
        <div class="mt-4">
            <a href="/Customer" class="btn btn-secondary me-1">Back to Mainpage</a>
        </div>
    </div>
</div>
