@{
    ViewBag.Title = "Add Movie";
}

<div ng-controller="sellerAddMovieCtrl" class="p-5">
    <form action="/Seller/Movies" method="post" class="dropzone" id="fileDropzone">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h3>Add Movie / Product</h3>
            <hr />
            <div class="container-fluid mb-3 pt-4">
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label class="control-label">Movie Title</label>
                    </div>
                    <div class="col-lg-3">
                        <input ng-model="movie.MovieTitle" class="form-control" type="text" name="movie.MovieTitle" />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label class="control-label">Description</label>
                    </div>
                    <div class="col-lg-3">
                        <textarea ng-model="movie.Description" class="form-control" rows="3" name="movie.Description"></textarea>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label class="control-label">Price</label>
                    </div>
                    <div class="col-lg-3">
                        <input ng-model="movie.Price" class="form-control" type="text" name="movie.Price" />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label class="control-label">Genre</label>
                    </div>
                    <div class="col-lg-3">
                        <select chosen multiple ng-model="selectedGenresId" class="col-12" name="selectedGenresId">
                            <option ng-repeat="genre in genres" value="{{genre.Id}}">{{genre.GenreType}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-4">
                        <label class="control-label">Released Year</label>
                    </div>
                    <div class="col-lg-3">
                        <input ng-model="movie.ReleasedYear" class="form-control" type="text" name="movie.ReleasedYear" />
                    </div>
                </div>
                <div class="form-group mb-4">
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" style="align-self: center;" value="Confirm Add Product / Movie" />
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label class="control-label">Append Movie Cover</label>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/sellerAddMovie")
    <script type="text/javascript">
        Dropzone.options.fileDropzone = {
            autoProcessQueue: false,
            maxFiles: 1,

            init: function () {
                var myDropzone = this;

                this.element.querySelector("input[type=button]").addEventListener("click", function (e) {
                    e.stopPropagation();
                    myDropzone.processQueue();
                });

                this.on("success", function (files, response) {
                    window.location.replace('/Seller');
                });
            }
        };
    </script>
}
