@{
    ViewBag.Title = "Admin Home";
}

@section Scripts
{
    @Scripts.Render("~/bundles/adminIndex")
}

<div ng-controller="adminIndexCtrl" class="p-5">
    <h2 class="mb-4">Seller List for Approval</h2>
    <div class="mb-4 pb-4 mx-0">
        <div>
            <button id="button-1" type="button" class="btn btn-secondary filter-btn me-3" ng-click="filterListByCriteria(-1)">All</button>
            <button id="button0" type="button" class="btn btn-secondary filter-btn me-3" ng-click="filterListByCriteria(0)">Pending</button>
            <button id="button1" type="button" class="btn btn-secondary filter-btn me-3" ng-click="filterListByCriteria(1)">Approve</button>
            <button id="button2" type="button" class="btn btn-secondary filter-btn" ng-click="filterListByCriteria(2)">Reject</button>
        </div>
    </div>

    <table class="table table-striped border shadow">
        <thead>
            <tr>
                <th>
                    Seller Firstname
                </th>
                <th>
                    Seller Lastname
                </th>
                <th>
                    Address
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr ng-repeat="item in filteredList" class="list-item">
                <td>{{item.SellerFname}}</td>
                <td>{{item.SellerLname}}</td>
                <td>{{item.Address}}</td>
                <td>{{item.PhoneNumber}}</td>
                <td>{{statusMapping[item.Status]}}</td>
                <td id="listItemAction' + i + '">
                    <!-- if status is pending show action button -->
                    <div ng-if="item.Status == 0">
                        <button class="btn btn-success btn-sm rounded-circle me-3" type="button" data-bs-toggle="modal" data-bs-target="#confirmActionModal" ng-click="changeActionButtonInModal('Approve',item.Id)">
                            <i class="fa-solid fa-check" style="color: #ffffff;"></i>
                        </button>
                        <button class="btn btn-danger btn-sm rounded-circle" data-bs-toggle="modal" data-bs-target="#confirmActionModal" ng-click="changeActionButtonInModal('Reject',item.Id)">
                            <i class="fa-sharp fa-solid fa-xmark" style="color: #ffffff;"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="confirmActionModal" tabindex="-1" aria-labelledby="confirmActionModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmActionModal">Confirm your action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to proceed with current action? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button ng-click="changeApprovalStatus()" id="actionButton" class="btn" data-bs-dismiss="modal">{{action}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
